#contact {
    top: 20%;
    left: 15%;
}

#projects {
    top: 80%;
    left: 10%;
}

#terminal {
    top: 5%;
    right: 5%;
    width: 50%;
    height: 40%;
}

#main {
    width: 40%;
}

#blahaj {
    top: 55%;
    left: 70%;
}

#blahajcontainer {
    position: relative;
}

#blahajoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#terminal > .content {
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    overflow-y: scroll;
}