/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: #24273a;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

a {
    font-family: monospace;
    color: #ed8796;
}

.card {
    background-color: #494d64;
    text-align: center;
    color: #cad3f5;
    box-shadow: #00000080 10px 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    text-wrap: wrap;
}

:not(.focused).card {
    filter: brightness(0.8);
}

.card > .content {
    padding: 10px;
}

button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
}

p {
    font-size: 1.2em;
}

.titlebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #181926;
    padding: 8px;
    gap: 50px;
}

.titlebuttons {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.titlebutton {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.titlebutton:hover {
    filter: brightness(0.75);
}

.titlebutton.close {
    background-color: #ed8796;
}

.titlebutton.minimize {
    background-color: #eed49f;
}

.titlebutton.maximize {
    background-color: #8bd5ca;
}

li {
    list-style: none;
}

.crt {
    background: linear-gradient(to top, #00000000, #00000000, #000000AA, #000000AA);
    background-size: cover;
    background-size: 100% 2px;
    animation: movement infinite linear 1s;
}

@keyframes movement {
    from {
        background-position: 0 0;
      }
      to {
        background-position: 0 -10px;
      }
  }